body
{
    background-color: #00ffea;
}
header
{
    font-family: 'Comfortaa', sans-serif;
}

.cen
{
    text-align: center;
}
.menuowo
{
    font-size: 38px;
}

.immx
{
    max-height: 30% ;
}




footer
{
    background-color: rgba(0, 0, 0, 0.7);
}





.b-d
{
    background-color: rgba(0, 0, 0, 0.6);
    color: seashell;
}
