body 
    {
        margin: 0mm;
        padding: 0mm;

        background-color:green;
        background-image: url(../image/1.jpg) ;
        background-repeat: repeat-x;
        background-position: center top;
        height: 100vh;
        color:white;
    }

h1 
    {
        text-align: center;
        font-size: 150px;
        letter-spacing: 3px;
        font-family: 'Bebas Neue', curs ;
        line-height: 2px;
    }

footer
    {
        color: black;
        background-color:rgba(255, 255, 255, 0.7);

    }

#lista
    {
        font-family: 'Russo One', sans-serif;
        letter-spacing: 3px;
        font-size: 20px;
    }

#MiniTitu
    {
        font-size: 20px;
        line-height: 50pt;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
#MiniTitu2
    {
        font-size: 20px;
        line-height: 50pt;
        letter-spacing: 3px;
        text-align: center;
        font-family: 'Russo One', sans-serif;
    }

#RedesS
    {  
        font-size: 17px;
        line-height: 20pt;
        letter-spacing: 2px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        
    }

#TextoEnMedio
    {
        display: table-cell;
        vertical-align: middle;
    }

#paginacion {
    margin: 20px 0;
}    

#paginacion ul {
    list-style:none;
    text-align:center ;
}

#paginacion ul li {
    display: inline block;
    margin-right:10px ;
}

#paginacion ul li a {
    display:block;
    padding:10 px 20 px ;
    color:#fff;
    background:#024959;
    text-decoration:none;
}
#paginacion ul li a:hover {
    backgroun:#037E8c;
}

#paginacion ul li .active {
    background:#037E8c;
    font-weight:bold;
}